@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,461;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
  --black-color: #000;
  --dark-gray: #333333;
  --gray: #666666;
  --lightish-gray: #999999;
  --light-gray: #CACACA;
  --lightest-gray: #ECECEC;
  --white-color: #fff;
  --lightest-violet-color: #D1A9F0;
  --light-violet-color: #C283F3;
  --violet-color: #9D5CD0;
  --dark-violet: #7943A4;
  --red: #D11616;
}

/*Styles of modificators*/

* {
  box-sizing: border-box;
  margin: 0 0;
}


.container{
  padding: 0 160px;
}

.list{
  list-style-type: none;
  padding: 0 0;
}

.link{
  text-decoration: none;
}

.text-style{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.h2{
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.h3{
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.txt{
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/*General styles*/

.internal-link{
  transition: all 0.2s ease-in-out;
}

.internal-link:focus{
  cursor: pointer;  
  outline: none;
  box-shadow: 0 0 0 5px var(--violet-color);
  border-color: var(--white-color);
  color: var(--white-color);
  background: var(--violet-color);
} 

.internal-link:hover{
  cursor: pointer;  
  border-color: var(--dark-violet);
  color: var(--dark-violet);
}

.internal-link:active{
  cursor: pointer;  
  border-color: var(--dark-gray);
  color: var(--dark-gray);
  background: transparent;
}

/*Main slider, that is a background for header, menu and hero blocks*/
.main-slider{
  width: 100%;
  min-height: 800px;
  height: auto;
  padding-bottom: 122px;
}

.main-slider__wrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.main-slider__one{
  background: url('/imgs/hero-slide-bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-slider__two{
  background: url('/imgs/hero-slide-bg-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-slider__three{
  background: url('/imgs/hero-slide-bg-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/*Header*/
.header{
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--black-color);
}

.header__logo{
  margin-right: 11.2%;
}

.header__logo:focus {
  outline: none;
}

.header__nav{
  width: 46.6%;
}

.nav-list{
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
}

.header__login{
  /* position: absolute;
  right: 160px; */
  position: relative;
  left: 27%;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
}

.login__txt{
  margin-left: 9px;
}

/*Menu*/
.menu{
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-top: 23px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  background: rgba(0, 0, 0, 0.5);
}

.menu-list {
  display: flex;
  flex-basis: 64.8%;
  justify-content: space-between;
}
.menu-list__item {
  position: relative;
}

.menu__btn{
  position: relative;
  margin-bottom: 21px;
  padding: 0 0;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--white-color);
  background: transparent;
  cursor: pointer;
}

.btn__img{
  transform: translateX(-2px);
}

.menu__btn.btn__active path{
  d: path('M11 6L6 0.999998L1 6');
}

/*Menu. Dropdowns*/
.dropdown {
  position: absolute;
  top: 100%;
  width: 300px;
  padding: 40px 19px 40px 40px;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
}
.dropdown.dropdown__active {
  visibility: visible;
  opacity: 1;
}
.dropdown__simplebar {
  height: 240px;
  padding-right: 23px;
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 4px;
}
.dropdown__item {
  position: relative;
  min-height: 40px;
  padding: 9px 14px;
  margin-bottom: 20px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--white-color);  
}

.dropdown__item:last-child {
  margin-bottom: 0px;
}

.dropdown__item:focus{
  cursor: default;
  outline: 2px solid var(--violet-color);
}

.dropdown__item:hover{
  cursor: pointer;
  outline: 2px solid var(--violet-color);
}

.dropdown__item:active{
  cursor: pointer;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));

}

.dropdown__img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.simplebar-scrollbar:before{
  border-radius: 0px;
  background: var(--white-color);
}

.simplebar-track.simplebar-vertical{
  width: 6px;
}

.simplebar-scrollbar.simplebar-visible:before{
  opacity: 1;
}

/*Search*/
.menu__search{
  position: relative;
  display: flex;
  flex-basis: 15.7%;
  text-align: center;
  margin-bottom: 21px;
}

.search__txt{
  padding: 0;
  margin-left: 9px;
  width: 90%;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid var(--white-color);
  text-align: left;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  background: transparent;
  transition: all 0.2s ease-in-out;  
}

.search__txt::placeholder{
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85)
}


.menu__search:hover .search__txt{
  outline: none;
  border-color: var(--light-violet-color);
}

.menu__search:hover, 
.search__txt:hover{
  cursor: pointer;
}

.search__txt:focus{
  outline: none;
}


/*header links*/
.light-text-link-style{  
  cursor: default;
  transition: all 0.2s;  
} 

.nav-list__item {
  position: relative;
}

.light-text-link-style::before{
  content: "";
  display: list-item;
  position: absolute;
  top: 0;
  left: -6px;
  height: 100%;
  width: 6px;
  transition: all 0.2s;  
}

.light-text-link-style::after{
  content: "";
  display: list-item;
  position: absolute;
  top: 0;
  right: -6px;
  height: 100%;
  width: 6px;
  transition: all 0.2s;  
}

.light-text-link-style:focus,
.light-text-link-style:focus:before,
.light-text-link-style:focus:after{
  background: var(--dark-violet);
  outline: none;
}

.light-text-link-style:hover,
.light-text-link-style:hover:before,
.light-text-link-style:hover:after{
  cursor: pointer;
  color: var(--violet-color);
  background: transparent;
}

.light-text-link-style:active,
.light-text-link-style:active:before,
.light-text-link-style:active:after{  
  color: var(--dark-violet);
  background: transparent;
}

.header__login:hover path{
  fill: var(--violet-color);
}

.header__login:active path{
  fill: var(--dark-violet);
}

.menu__btn:hover path{
  stroke: var(--violet-color);
}

.menu__btn:active path{
  stroke: var(--dark-violet);
}


/*Hero*/
.hero{
  padding-top: 63px;
  width: 45%;
}

.hero__headline{
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: #FFFFFF;
}

.hero__txt{
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.hero__btn{
  margin-top: 92px;
  padding: 22.5px 35px;
  border: none;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  background: var(--violet-color);
  transition: background-color 0.2s ease-in-out;  
}

.hero__btn:focus{
  box-shadow: 0 0 0 3px var(--white-color), 0 0 0 2px var(--light-violet-color);
  outline: 2px solid var(--light-violet-color);
}

.hero__btn:hover{
  cursor: pointer;
  box-shadow: none;
  outline: 3px solid var(--lightest-violet-color);
}

.hero__btn:active{
  box-shadow: 0 0 3px var(--lightest-violet-color);
  background: var(--dark-violet);
}

/*About*/
.about{
  padding-top: 79px;
  padding-bottom: 70px;
}

.about__headline{
  color: var(--dark-gray);
}

.about__txt{
  margin-top: 15px;
  width: 67%;
  color: var(--dark-gray);
}

/*Galary*/
.gallery{
  position: relative;
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  min-height: 595px;
  color: var(--white-color);
  background: url('/imgs/galary-bg.jpg');
}

.gallery__inf{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}

.gallery__filter-name{
  margin-top: 13px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

.gallery__filter-list, .choices{
  margin-bottom: 166px;
  cursor: pointer;
}

.choices{
  margin-top: 9px;
}

.choices__inner, .is-open .choices__inner, .choices__list--dropdown, .choices__list[aria-expanded]{
  border-radius: 6px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.choices__inner, .choices__list--dropdown, .choices__item--selectable.is-highlighted, .choices__list[aria-expanded], .choices__list[aria-expanded] .choices__item--selectable.is-highlighted{
  background-color: transparent;
}

.choices__inner{
  padding: 0px 12px;
}

.choices[data-type*=select-one] .choices__inner{
  padding-bottom: 0px;
}

.choices[data-type*=select-one]::after{
  content: url('/imgs/icons/list-icon-down.svg');
  right: 26px;
  top: 35%;
  border: none;
}

.choices[data-type*=select-one].is-open::after{
  content: url('/imgs/icons/list-icon-up.svg');
} 

.choices:not(.is-open):focus .choices__inner{
  transition: all 0.2s ease-in-out;
  background: rgba(255, 255, 255, 0.2);
}xes

.choices__inner:hover{
  background: rgba(255, 255, 255, 0.2);
}

.choices__list[aria-expanded] 
.choices__item--selectable.is-highlighted{
  transition: all 0.2s ease-in-out;
  background: rgba(255, 255, 255, 0.2);
}



.gallery__checkboxes{
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.checkboxes__check{
  position: relative;
  cursor: pointer;
  padding-left: 24px;
  transition: all 0.2s ease-in-out;  
}

.checkboxes__input{
  display: none;
}

.checkboxes__castom-input{
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  height: 14px;
  width: 14px;
  text-align: center;
  border: 1px solid var(--white-color);
  transition: all 0.2s ease-in-out;  
}

.checkboxes__input:checked +
.checkboxes__castom-input{
  border-color: var(--light-violet-color);
}

.checkboxes__input:checked +
.checkboxes__castom-input::before{
  content: url('/imgs/icons/violet-point.svg');
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  transform: translateY(-13px);
}

.checkboxes__input:checked +
.checkboxes__castom-input::before{
  opacity: 1;
}

.checkboxes__check:focus .checkboxes__castom-input,
.checkboxes__check:hover .checkboxes__castom-input {
  border: 1px solid var(--light-violet-color);
} 

.checkboxes__check:focus,
.checkboxes__check:active{
  outline: none;
  color: var(--light-violet-color);
}

/*Galary slider*/

.gallery__slider{
  margin-left: 50px;
  padding-left: 3px;
  padding-right: 3px;
  width: 1156px;
}

.gallery-swiper__wrapper{
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  height: auto;
}

.gallery-swiper__slide{
  position: relative;
  height: 350px;
}

.swiper-slide__hover{
  position: absolute;
  left: 25px;
  right: 25px;
  top: 20px;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
}

.gallery-swiper__slide:hover{
  cursor: pointer;
}

.gallery-swiper__slide:hover .swiper-slide__hover{
  visibility: visible;
}

.gallery-swiper__slide:not(:hover) .swiper-slide__hover{
  visibility: hidden;
}

.swiper-slide-zoomed:hover .swiper-slide__hover{
  visibility: hidden;
}

.swiper-slide__active{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  visibility: hidden;
}

.gallery-swiper__slide:focus .gallery-swiper__zoom-image{
  outline: 3px solid var(--dark-violet);
}

.gallery-swiper__slide:active .swiper-slide__active{
  visibility: visible;
}

.gallery-swiper__button-next, .gallery-swiper__button-prev{
  top: 23px;
  right: 0;
  margin-top: 0;
}

.gallery-swiper__button-prev {
  left: 4px;
  border-radius: 50%;
  width: calc(var(--swiper-navigation-size)/ 44 * 30);
  height: 30px;
  background-color: var(--gray);
  transition: background-color 0.2s ease-in-out;  
}

.gallery-swiper__button-next{
  left: 103px;
  border-radius: 50%;  
  width: calc(var(--swiper-navigation-size)/ 44 * 30);
  height: 30px;
  background-color: var(--gray);
  transition: background-color 0.2s ease-in-out;  
}

.gallery-swiper__button-prev::after{
  content: '';
  border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  width: 7px;
  height: 7px;
  transform: rotate(45deg) translateX(1px) translateY(-1px);
}

.gallery-swiper__button-next::after{
  content: '';
  border-right: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  width: 7px;
  height: 7px;
  transform: rotate(-45deg) translateX(-1px) translateY(-1px);
}

.gallery-swiper__button-next:focus, .gallery-swiper__button-prev:focus{
  outline: 2px solid var(--black-color);
}

.gallery-swiper__button-next:hover, .gallery-swiper__button-prev:hover{
  background-color: var(--violet-color);
}

.gallery-swiper__button-next:active, .gallery-swiper__button-prev:active{
  outline: 2px solid var(--black-color);
  background-color: var(--dark-violet);
}

.gallery-swiper__button-next:hover path, .gallery-swiper__button-prev:hover path{
  fill: var(--violet-color);
}

.gallery-swiper__pagination{
  position: absolute;
  top: 24px;
  left: 44px;
  width: 47px;
  height: 44px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/*Модальное окно*/
.modal-window {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.9);
  width: 900px;
  height: auto;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
  background-color: #fff;
  border-radius: 4px;
  transition: all .18s ease-in-out;
}

.modal-window__inf{
  position: relative;
  padding: 121px 49px;
  color: var(--dark-gray);
}

.modal-window-inf__img-name{
  margin-top: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.modal-window-inf__img-dates{
  color: var(--lightish-gray);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.modal-window-inf__img-inf{
  margin-top: 39px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.modal-window__close-btn{
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  height: 16px;
  width: 16px;
  border: none;
  background: transparent;
}

.modal-window__close-btn::before{
  content: '';
  display: block;
  height: 8px; 
  width: 8px; 
  border-left: 1px solid var(--black-color);
  border-top: 1px solid var(--black-color);
  transform: rotate(-45deg) translateX(4px) translateY(8px);
} 

.modal-window__close-btn::after{
  content: '';
  display: block;
  border-right: 1px solid var(--black-color);
  border-bottom: 1px solid var(--black-color);
  width: 8px;
  height: 8px;
  transform: rotate(-45deg) translateX(2px) translateY(-7px);
}

.modal-window__close-btn:focus::before,
.modal-window__close-btn:focus::after,
.modal-window__close-btn:hover::before,
.modal-window__close-btn:hover::after{
  outline: none;
  border-color: var(--violet-color);
}

.modal-window__close-btn:active::before,
.modal-window__close-btn:active::after{
  border-color: var(--dark-violet);
}

/*Каталог*/
.catalog{
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 40px;
  color: var(--dark-gray);
}

.catalog__headline{
  flex-basis: 100%;
}

.catalog__desc{
  width: 68%;
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.catalog__display, .catalog__list{
  margin-top: 38px;
}

.catalog__display{
  /* flex-basis: 47%; */
  width: 47%;
}

.catalog__list{
  margin-left: 3%;
  flex-basis: 50%;
}

.display__name{
  margin-top: 27px;
}

.display__dates{
  margin-top: 9px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--lightish-gray);
}

.display__inf{
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.authors-list__link{
  color: var(--lightish-gray);
}

/*Tabs styles*/
.catalog__display{
  display: none;
}

.catalog__display_active{
  display: block;
}


/*Catalog information*/
.catalog-item-block__btn{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  border-top: 1px solid var(--light-gray);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}


.catalog__item:last-child .catalog-item-block__btn{
  border-bottom: 1px solid var(--light-gray);
}

.ui-accordion-header-active{
  border-bottom: 1px solid var(--light-gray);
}

.ui-accordion-header-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--lightest-gray);
}

.ui-accordion-header-icon::after{
  content: '';
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  width: 12px;
  height: 12px;
  transform: rotate(45deg) translateX(-1px) translateY(-1px);
}


.catalog-item-block__list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 24px;
  height: 338px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--dark-gray);
}

.catalog-item-block__list_empty{
  height: 239px;
}

.authors-list__item{
  width: calc(33.33% - 50px);
  margin-right: 50px;
  transition: all 0.2s ease-in-out;  
}

.authors-list__item_empty{
  width: auto;
  margin-right: 24px;
}

.empty-block__img-outside{
  padding: 12px;
  width: 273px;
  height: 189px;
  border: 2px solid var(--lightish-gray);
}

.empty-block__img-inside{
  width: 100%;
  height: 100%;
  background: var(--lightish-gray);
}

.empty-block__headline{
  margin-top: 41px;
}

.empty-block__txt{
  margin-top: 5px;
  width: 60%;
  line-height: 22px;
}

.link-to-gallery{
  color: var(--violet-color);
  line-height: 22px;
}

.catalog__item .catalog-item-block__txt{
  transition: all 0.2s ease-in-out;
}

.catalog__item:focus, .catalog-item-block__btn:focus,
.authors-list__item{
  outline: none; 
}


.catalog-item-block__btn:focus .catalog-item-block__txt,
.catalog__item:focus .catalog-item-block__txt {
  color: var(--white-color);
  background: var(--violet-color);
}


.catalog-item-block__btn:focus .ui-accordion-header-icon,
.catalog__item:focus .ui-accordion-header-icon,
.catalog-item-block__btn:hover .ui-accordion-header-icon {
  background-color: var(--lightest-violet-color);
  transition:  background-color 0.3s ease-in-out;
}

.ui-accordion-header-active:focus .ui-accordion-header-icon::after,
.ui-state-active:focus .ui-accordion-header-icon::after{
  transform: rotate(-135deg) translateX(-1px) translateY(-1px);
}

.catalog__item:last-child .catalog-item-block__btn:hover,
.catalog-item-block__btn:hover{
  cursor: pointer;
  border-color: var(--violet-color);
  color: var(--violet-color);
  transition: all 0.2s ease-in-out;
  background: transparent;
}

.catalog__item:not(.catalog__item_active):hover + .catalog__item .catalog-item-block__btn{
  border-top: 1px solid var(--violet-color);
  /* border-color: var(--violet-color); */
  transition: all 0.2s ease-in-out;
}

.catalog-item-block__btn:active .ui-accordion-header-icon{  
  outline: 2px solid var(--violet-color);
  background-color: var(--lightest-violet-color);  
  transition:  background-color 0.3s ease-in-out;  
}

.catalog-item-block__btn:active .ui-accordion-header-icon::after{
  transform: rotate(-135deg) translateX(-1px) translateY(-1px);
}


.catalog-item-block__btn:active .catalog-item-block__txt,
.catalog__item:active .catalog-item-block__btn{
  cursor: pointer;
  border-color: var(--dark-violet);
  color: var(--dark-violet);
  transition: all 0.2s ease-in-out;
  background: transparent;
}

.catalog__item:not(.catalog__item_active):active + .catalog__item .catalog-item-block__btn{
  border-top: 1px solid var(--violet-color);
  /* border-color: var(--dark-violet); */
  transition: all 0.2s ease-in-out;
}

.authors-list__item:focus{
  background: var(--violet-color);
}

.authors-list__item:hover{
  cursor: pointer;
}

.authors-list__item:hover .authors-list__link{
  border-bottom: 1px solid var(--violet-color);
}

.authors-list__item:active{
  background: transparent;
}

.authors-list__item:active .authors-list__link{
  border-bottom: none;
}


/*Events*/
.events{
  padding-top: 40px;
  padding-bottom: 40px;
}

.events-slider{
  margin-top: 16px;
  margin-left: -25px;
  padding-left: 25px;
  margin-right: -25px;
  padding-right: 25px;
}

.events-slider__slide{
  width: 30%;
  min-height: 700px;
}

/* .events-slider-block__img{
  width: 100%;
  height: auto;
} */

.events-slider__img{
  width: 100%;
  height: auto;
}

.events-slider__inf{
  position: relative;
  padding-top: 16px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 48px;
  border-left: 1px solid var(--light-gray);;
  border-right: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  min-height: 399px;
  transform: translateY(-5px);
}

.events-slider__inf:focus{
  outline: none;
}

.event-inf__location, .event-inf__dates{
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--lightish-gray);
}

.event-inf__headline{
  margin-top: 13px;
  color: var(--dark-gray);
}

.event-inf__main-txt{
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--dark-gray);
}

.event-inf__link{
  position: absolute;
  left: 50px;
  bottom: 41px;
  border-bottom: 1px solid var(--violet-color);
  color: var(--violet-color);
}

.events-slider__pagination{
  visibility: hidden;
}

.events-slider__button-prev{
  border-radius: 50%;
  width: calc(var(--swiper-navigation-size)/ 44 * 50);
  height: 50px;
  background-color: var(--lightest-gray);
  transform: translateX(-8px) translateY(-6px);
  transition: background-color 0.2s ease-in-out; 
}

.events-slider__button-prev::after{
  content: '';
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  width: 12px;
  height: 12px;
  transform: rotate(45deg) translateX(2px) translateY(-2px);
}

.events-slider__button-next{
  border-radius: 50%;
  width: calc(var(--swiper-navigation-size)/ 44 * 50);
  height: 50px;
  background-color: var(--lightest-gray);
  transform: translateX(8px) translateY(-6px);
  transition: background-color 0.2s ease-in-out; 
}

.events-slider__button-next::after{
  content: '';
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  width: 12px;
  height: 12px;
  transform: rotate(-45deg) translateX(-2px) translateY(-2px);
}


.events-slider__button-next:focus, 
.events-slider__button-prev:focus{
  outline: 2px solid var(--violet-color);
}

.events-slider__button-next:hover, 
.events-slider__button-prev:hover{
  background-color: var(--lightest-violet-color);
}

.events-slider__button-next:active,
.events-slider__button-prev:active{
  background-color: var(--lightest-violet-color);
  outline: 2px solid var(--violet-color);
}

.events-slider .swiper-button-disabled{
  visibility: hidden;
}

/*Projects*/
.projects{
  position: relative;
  padding-top: 40px;
  padding-bottom: 80px;
  color: var(--dark-gray);
}

.projects__txt{
  margin-top: 13px;
  width: 67%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.projects__link{
  position: relative;
  color: var(--violet-color);
  transition: all 0.2s ease-in-out;  
}

.projects__link::after{
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: -5px;
  border-bottom: 1px solid var(--violet-color);
  visibility: hidden;
  transition: all 0.2s ease-in-out;  
}

.projects__link:focus{
  color: var(--white-color);
  outline: none;
  box-shadow: 0 0 0 5px var(--violet-color);
  background: var(--violet-color);
}

.projects__link:focus::after{
  visibility: hidden;
}

.projects__link:hover{  
  cursor: pointer;
  color: var(--violet-color);
  box-shadow: none;
  background: transparent;
}

.projects__link:hover::after{
  visibility: visible;
}

.projects__link:active{
  cursor: pointer;
  color: var(--dark-violet);
  box-shadow: none;
  background: transparent;
}

.projects__link:active::after{
  visibility: visible;
  border-color: var(--dark-violet);
}

.projects__title{
  margin-top: 19px;
}

/*Tooltip*/
.tippy-box[data-theme~="custom"] {
  background-color: var(--violet-color);
  color: var(--white-color);
}

.tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--violet-color);
}
.tippy-box[data-theme~='custom'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: var(--violet-color);
}
.tippy-box[data-theme~='custom'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: var(--violet-color);
}
.tippy-box[data-theme~='custom'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: var(--violet-color);
}

.exclamation-point-tooltip path:first-child{
  transition: all 0.2s ease-in-out;  
}

.exclamation-point-tooltip:focus path:first-child,
.exclamation-point-tooltip:hover path:first-child{
  cursor: pointer;
  fill:var(--lightest-violet-color);
}

.exclamation-point-tooltip:active path:first-child{
  cursor: pointer;
  fill:var(--violet-color);
}

/*Slider of projects block*/
.projects-slider{
  margin-top: 23px;
  margin-left: 75px;
  margin-right: 75px;
}

.projects-slider__slide{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 150px;
  border: 1px solid var(--light-gray);
  transition: border-color 0.2s ease-in-out; 
}

.projects-slider__slide:focus,
.projects-slider__slide:active{
  cursor: pointer;
  outline: none;
  border-color: var(--violet-color);  
}

.projects-slider__slide:hover{
  cursor: pointer;
}

.projects-slider__active-img{
  display: none;
}

.projects-slider__slide:hover .projects-slider__img,
.projects-slider__slide:active .projects-slider__img{
  display: none;
}
.projects-slider__slide:hover .projects-slider__active-img,
.projects-slider__slide:active .projects-slider__active-img{
  display: block;
}


.projects__button-prev, .projects__button-next{
  top:auto;
  bottom: 134px;
}

.projects__button-prev{
  left: 160px;
  border-radius: 50%;
  width: calc(var(--swiper-navigation-size)/ 44 * 30);
  height: 30px;
  background-color: var(--lightest-gray);
  transform: translateX(0px) translateY(-6px);
  transition: background-color 0.2s ease-in-out; 
}

.projects__button-next{
  right: 160px;
  border-radius: 50%;
  width: calc(var(--swiper-navigation-size)/ 44 * 30);
  height: 30px;
  background-color: var(--lightest-gray);
  transform: translateX(0px) translateY(-6px);
  transition: background-color 0.2s ease-in-out; 
}

.projects__button-prev::after{
  content: '';
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  width: 7px;
  height: 7px;
  transform: rotate(45deg) translateX(1px) translateY(-1px);
}

.projects__button-next::after{
  content: '';
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  width: 7px;
  height: 7px;
  transform: rotate(-45deg) translateX(-1px) translateY(-1px);
}


.projects__button-prev:focus,
.projects__button-next:focus{
  outline: 2px solid var(--violet-color);
}

.projects__button-prev:hover,
.projects__button-next:hover{
  background-color: var(--lightest-violet-color);
}

.projects__button-prev:active,
.projects__button-next:active{
  outline: 2px solid var(--violet-color);
  background-color: var(--lightest-violet-color);
}


/*Feedback*/
.feedback-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 33px;
  border: 1px solid var(--light-gray);
  color: var(--dark-gray);
}

.location__txt{
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.feedback-block__form{  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feedback-form__name, .feedback-form__tel{
  position: relative;
}

.feedback-form__tel{
  margin-left: 20px;
}

.input{
  padding: 9px 24px;
  width: 270px;
  height: 50px;
  border: 1px solid var(--dark-gray);
  border-radius: 100px;
  transition: all 0.2s ease-in-out; 
}

.input::placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--lightish-gray);
}

.js-validate-error-label{
  position: absolute;
  top: 0;
  left: 24px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  transform: translateY(-16px);
}

.feedback-form__btn{
  position: relative;
  padding: 12.5px 35px;
  border: 1px solid;
  border-radius: 100px;
  margin-left: 17px;
  border-color: var(--violet-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--violet-color);
  background: var(--white-color);
  transition: all 0.2s ease-in-out; 
}

.feedback-form__btn::before{
  content: "";
  position: absolute;
  display: block;
  top: -2px;
  bottom: -2px;
  right: -2px;
  left: -2px;
  border-radius: 100px;
  outline: 1px solid var(--light-violet-color);
  visibility: hidden;
}

.feedback-form__btn:focus{
  cursor: pointer;
  outline: none;
  border-color: var(--violet-color);
  box-shadow: 0 0 0 10px var(--white-color);
  color: var(--violet-color);
  background: var(--white-color);
}

.feedback-form__btn:focus::before{
  visibility: visible;
}


.feedback-form__btn:hover{
  cursor: pointer;
  color: var(--white-color);
  background: var(--violet-color);
}

.feedback-form__btn:active{
  cursor: pointer;
  color: var(--white-color);
  background: var(--dark-violet);
}

.feedback-form__input:focus{
  outline: none;
}

.feedback-form__input:hover{
  cursor: pointer;
}

.feedback-form__input:focus{
  color: var(--dark-gray);
  background: var(--white-color);
}

.feedback-form__input:hover,
.feedback-form__input:active {
  background: var(--lightest-gray);
}



.contacts__whatsapp,
.contacts__telegram{
  margin-top: 8px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;  
}

.contacts__telegram{
  margin-left: 20px;
}

.contact:hover,
.contact:active{
  cursor: pointer;
}

.contact:focus,
.contact:hover{
  outline: none;
  opacity: 0.5;
}

.contact:active{
  outline: 1px solid var(--violet-color);
}


/*Map*/
.map{
  width: 100%;
  height: 700px;
}

[class*="ground-pane"]{
  filter: grayscale(1);
}

/*Footer*/
.footer{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  background: var(--black-color);
}

.social-links__ok-link{
  margin-left: 18px;
}

.social-link{
  transition: all 0.2s ease-in-out;  
}

.social-link:hover,
.social-link:active{
  cursor: pointer;
}

.social-link:focus{
  outline: none;
}

.social-link:focus path,
.social-link:hover path{
  fill: var(--white-color);
}

.social-link:active path{
  fill: var(--violet-color);
}
